.App {
  text-align: center;
}

/* logo react */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* cest pour la rotation du logo react */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

 
}

.App-header {
  background-color: #072c56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Dancing Script', cursive;  font-style: italic;

}

h1{
  color: rgb(248, 242, 121);
  font-size: calc(50px + 2vmin);
  font-family: 'Trebuchet MS', sans-serif;
  
} 

h2{
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: 'Dancing Script', cursive;  font-style: italic;
  color: rgb(200, 122, 39);
}

p{
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: 'Dancing Script', cursive;  font-style: italic;
  color: rgb(156, 142, 127);
}








/* App.css */
